<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>HE:labs - Test</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="bower_components/angular-toggle-switch/angular-toggle-switch.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>

  <!-- inject:css -->
  <link rel="stylesheet" href="shared/awesomelist/awesomelist.min.css">
  <!-- endinject -->
  <link rel="stylesheet" href="app.min.css">
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <header class="navbar navbar-default navbar-fixed-top" ng-class="{ transparency: !isCollapsed }" ng-controller="HomeCtrl">
      <div class="navbar-inner">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" ng-click="isCollapsed = !isCollapsed">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand visible-xs" href="#">HE:labs</a>
              </div>
              <nav class="hidden-xs">
                  <ul class="nav navbar-nav">
                    <a href="#top" role="button" class="navbar-brand">
                      HE:labs
                    </a>
                    <li ng-class="{ active: isActive('/home')}">
                      <a href="#/home">
                        Home
                      </a>
                    </li>                      
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li>
                      <div class="toggle-switch-container">
                        <toggle-switch
                          ng-model="choosenLanguage"
                          on-label="PT-BR"
                          off-label="EN-US">
                        </toggle-switch>
                      </div>
                    </li>
                  </ul>
              </nav>
              <nav class="visible-xs collapse" ng-hide="!isCollapsed" collapse="!isCollapsed" style="height: 0;">
                  <ul class="nav navbar-nav">
                      <li ng-class="{ active: isActive('/home')}">
                        <a href="#/home" ng-click="isCollapsed = !isCollapsed">
                          Home
                        </a>
                      </li>
                      <li>
                          <div class="toggle-switch-container">
                        <toggle-switch
                          ng-model="choosenLanguage"
                          on-label="PT-BR"
                          off-label="EN-US">
                        </toggle-switch>
                              </div>
                      </li>
                  </ul>
              </nav>
          </div>
      </div>
  </header>
  <div ng-view>

  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <!-- inject:js -->
  <script src="components/home/home.js"></script>
  <script src="shared/awesomelist/applicant-info-controller.js"></script>
  <script src="shared/awesomelist/awesomelist-directive.js"></script>
  <script src="shared/awesomelist/awesomelist-filter.js"></script>
  <script src="shared/awesomelist/awesomelist.js"></script>
  <!-- endinject -->
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="bower_components/angular-translate/angular-translate.min.js"></script>
  <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
  <script src="bower_components/angular-toggle-switch/angular-toggle-switch.min.js"></script>
</body>
</html>
